<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

<!-- bean definitions here -->

	<bean class="com.beans.Employee" id="emp1">
		
		<!--  
		<property name="empId" value="101"></property>
		<property name="name" value="Nikhil"></property>
		<property name="age" value="21"></property>
		<property name="city" value="Pune"></property>
		-->
		
		<constructor-arg index="0" value="121"></constructor-arg>
		<constructor-arg index="1" value="Rahul"></constructor-arg>
		<constructor-arg index="2" value="25"></constructor-arg>
		<constructor-arg index="3" value="Banglore"></constructor-arg>
		
	</bean>
	
	<bean class="com.beans.Company" id="cmp1">
		<!-- 
		<property name="compId" value="1212"></property>
		<property name="CompanyName" value="Infosys"></property>
		<property name="CompanyAddress" value="Pune"></property>
		<property name="emp" ref="emp1"></property>
	-->
	
		<constructor-arg index="0" value="1214"></constructor-arg>
		<constructor-arg index="1" value="Meta"></constructor-arg>
		<constructor-arg index="2" value="Hyederabaad"></constructor-arg>
		<constructor-arg index="3" ref="emp1"></constructor-arg>
	</bean>

</beans>